

body{
  background:#0c1424;
    margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

/* CONTAINER */
.container{
  max-width:1400px;
  margin:auto;
  padding:20px 10px;
  width:100%;
 
}


/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(270px,2fr));
  gap:25px;
   margin-left: 240px;
}

/* CARD */
.card{
  background:#03235a48;
  border:1px solid rgba(255,255,255,.08);
  border-radius:10px;
  padding:25px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  min-height:500px;
  transition:.3s ease;
}
.card:hover{
  border: 1px solid rgba(128, 128, 128, 0);
  transform:translateY(-5px);
}

/* HEADER */
.header{
  display:flex;
  gap:16px;
  align-items:flex-start;
}

.avatar{
  width:70px;
  height:70px;
  border-radius:50%;
  background:linear-gradient(135deg,#f5f3c4,#b7c7a3);
}

.info{
  flex:1;
}

.name-row{
  display:flex;
  align-items:center;
  gap:10px;
}

.name{
  font-size:20px;
  font-weight:700;
  color:white;
}

.status{
  margin-left:auto;
  background:#26dd1634;
  color:#06fcaa;
  padding:5px 10px;
  border-radius:5px;
  font-size:12px;
  font-weight:600;
}

/* PARTY */
.partido{
  margin-top:6px;
  display:flex;
  align-items:center;
  gap:8px;
  color:#9aa4b2;
  font-size:18px;
}




/* TEXTO */
.desc{
  margin-top:18px;
  color:#9aa4b2;
  line-height:1.6;
  font-size:14px;
}

/* TAGS */
.tags{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
  margin-top:20px;
  font-size:13px;
  color:#cbd5e1;
}

/* FOOTER */
.footer{
  background-color:#121824;
  margin:-25px;
  padding:10px;
  border-top:1px solid rgba(153, 106, 13, 0.61);
  text-align:center;
  border-radius:0 0 18px 18px;
}

.fa-shield-alt{
  width:45px;
  height:45px;
  margin:auto;
  border-radius:50%;
  background:rgba(245,179,1,.15);
  display:flex;
  align-items:center;
  justify-content:center;
  color:#f5b301;
  font-size:20px;
  margin-bottom:12px;
  animation: respirar 2s infinite;
}
@keyframes respirar {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.4);
  }
  100%{
    transform: scale(1);
  }
}

.footer h4{
  font-size:14px;
  letter-spacing:1px;
  color:#dfdfdf;
}

.footer p{
  margin-top:4px;
  font-size:12px;
  color:#9aa4b2;
}

/*  RESPONSIVO  */

/* Tablet */
@media (max-width: 992px) {
  .container {
    padding: 20px 16px;
    width: 100%;
    max-width: 100%;
  }

  .grid {
    margin-left: 0;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    padding: 18px 12px;
  }

  .grid {
    margin-left: 0;
    grid-template-columns: 1fr;
  }

  .card {
    min-height: auto;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .name-row {
    justify-content: center;
  }

  .status {
    margin-left: 0;
  }

  .partido {
    justify-content: center;
  }
}
